html, body{
    margin:0;

    height:100%;
    width:100%;

    overflow:hidden;

    user-select: none;
}

::-webkit-scrollbar{
    width:0;
}

button{
    outline:none;
}

.shadow-text{
    text-shadow: 2px 2px 5px rgba(110,110,110,1);
}

form{
    margin:0;
}

* {
    box-sizing:border-box;
    transition:.3s;
}

h1{
    font-size:5rem;
    font-weight:400;

    margin:0;
    padding:0;
}

p{
    font-size:3rem;
    font-weight:300;

    margin:0;
    padding:0;
}

a{
    &:hover i{
        font-size:2.4rem;
        color:#1e1e1e;
    
        opacity:0.8;
    }

    i{
        transition:.6s all cubic-bezier(.5, .2, .2, 1.1);
    
        text-decoration:none;
        color:#fff;
    
        font-size:2rem;
    }
}

u{
    text-decoration: none;
    font-weight:500;
}

strike{
    font-weight:400;
}

@keyframes opacity{
    0%{
        opacity:0;
    }

    100%{
        opacity:1;
    }
}

.balloon{
    transition: .5s all cubic-bezier(.5,.2,.2,1.1);

    opacity:0;

    position: absolute;
    z-index:-1;
    left:68%;
    top:20%;

    height:50px;
    padding:5px 15px;

    background:rgba(30,30,30,0.8);
    border-radius:3px;

    color:#eee;
    font-weight:300;

    line-height:40px;
}

.balloon::before{
    content:"";

    position:absolute;
    
    border-right:10px solid rgba(30,30,30,0.8);
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    
    top:10px;
    left:-10px;


}

header{

    background:#da6762;
    
    width:100%;
    height:100%;

    nav{
        // background:rgba(40,40,40,1);

        position:absolute;
        left:0;
        top:0;

        z-index:50;

        width:15%;
        height:100%;

        display:table;
        table-layout:fixed;

        float:left;

        ul{
            margin:0;
            padding:0;

            width:100%;
            height:80%;

            display:table-cell;
            vertical-align:middle;
            
            text-align:center;

            line-height:5rem;

            li{
                position: relative;
            
                .info-on:hover ~ .balloon {
                    // display:block;
                    opacity: 1;
                }

            }

        }


    }

    section{
        width:85%;
        height:100%;

        float:right;

        display:table;
        table-layout:fixed;

        div{
            text-align:center;
            color:#fff;

            display:table-cell;

            vertical-align: middle;
        }
    }
}

.t:target{
    section{
        transform:translateX(-100%);
    }

    &::after{
        opacity:1;
    }
}


.t{
    position:absolute;
    top:0;
    right:0%;

    &::after{
        transition:.6s all cubic-bezier(.5,.2,.2,1.1);

        content:'';
        position:absolute;
        top:0;
        left:0;

        width:100%;
        height:100%;

        background:rgba(80,80,80,1);

        opacity:0;
    }

    // opacity:0;
    
    transition:.6s all cubic-bezier(.5, .2, .2, 1.1);

    width:100%;
    height:100%;

    // background:rgba(80,80,80,1);

    section{
        position: relative;
        z-index:2;
        left:100%;

        display:table;
        table-layout:fixed;

        transition:.6s all cubic-bezier(.5, .2, .2, 1.1);

        width:85%;
        height:100%;
    }

    div{
        text-align:center;
        color:#fff;

        display:table-cell;

        vertical-align: middle;
    }
}

#t1{
    section{
        background:#fc9058;
    }
}

#t2{
    section{
        background:#fdc34a;
    }
}

#t3{
    section{
        background:#69855a;
    }
}

#t4{
    section{
        background:#6ca2bf;
    }
}

#t5{
    section{
        background:#ab8ecd;
    }
}

form{
    width:50%;
    margin:0 auto;

    text-decoration:none;

    font-size:3rem;
    text-align:left;

    input{
        transition: .6s all cubic-bezier(.5,.2,.2,1.1);

        width:100%;
        height:45px;

        background:#fff;

        color:rgba(80,80,80,1);
        font-size:1.5rem;

        margin-bottom:25px;
        padding:2px;

        box-shadow:4px 4px 5px rgba(90,90,90,1);
        border:none;
        border-radius:5px;

        outline:none;

        &:focus{
            box-shadow:8px 8px 15px rgba(100,100,100,1);
        }
    }
}

#t6{
    section{
        background:#e08b6f;
        table-layout: fixed;

        div{
            form{
                width:50%;
                margin:0 auto;

                text-decoration:none;

                font-size:3rem;
                text-align:left;

                input{
                    transition: .6s all cubic-bezier(.5,.2,.2,1.1);

                    width:100%;
                    height:45px;

                    background:#fff;

                    color:rgba(80,80,80,1);
                    font-size:1.5rem;

                    margin-bottom:25px;
                    padding:2px;

                    box-shadow:4px 4px 5px rgba(90,90,90,1);
                    border:none;
                    border-radius:5px;

                    outline:none;

                    &:focus{
                        box-shadow:8px 8px 15px rgba(100,100,100,1);
                    }
                }
                #yet{
                    background:transparent;

                    font-size:.8rem;
                    text-decoration: none;
                    color:#373229;

                    border:none;

                    cursor:pointer;
                }

                #login{
                    transition:.6s all cubic-bezier(.5,.7,.2,1.1);

                    float:right;

                    font-size:1.8rem;
                    color:#fff;

                    border:none;
                    border-radius: 5px;
                    background:transparent;

                    padding:5px 15px;
                    margin-top:5px;

                    &:hover{
                        color:#e08b6f;
                        background:#fff;
                    }
                }
            }
        }
    }
}

#t7{
    section{
        background:#da6762;

        #close{
           color:#fff;
           font-size:3rem;

           text-align:right;
    
            position:absolute;
            left:5rem;
            top:2rem;

            cursor:pointer;
        }

        div{
            width:100%;
            form{
                #signup{
                    transition:.6s all cubic-bezier(.5,.7,.2,1.1);

                    float:right;

                    font-size:1.8rem;
                    color:#fff;

                    border:none;
                    border-radius: 5px;
                    background:transparent;

                    padding:5px 15px;

                    &:hover{
                        color:#e08b6f;
                        background:#fff;
                    }
                }
                
            }
        }
    }
}

.alert{
    display:none;

    color:#fdc34a;
    font-size:1rem;
    font-weight:300;

    margin-left:5px;
}

#no{
    font-size:.8rem;
    float:right;
}